.additional__description {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 18px;
    position: absolute;
    top: 0;
    left: 0;
    color: white;
    z-index: 2;
}