.comments__comment {
    max-width: 382px;
    display: flex;
    flex-direction: column;
    
    
    
}

@media screen and (max-width: 1024px) {
    .comments__comment {
        margin-bottom: 16px;
    }
}

@media screen and (min-width: 768px) {
    .comments__comment {
        margin-right: 16px;
    }
}


