.intro__number {
    margin: 0;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 20px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}