.lead__subtitle {
    max-width: 583px;
    
    margin: 50px auto 80px auto;
    text-align: center;
    font-style: normal;
    font-weight: normal;
    font-size: 1.87rem;
    line-height: 2.5rem;
    color: white;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}



@media screen and (max-width: 720px) {
    .lead__subtitle {
        font-size: 1rem;
        line-height: 1.43rem;
        margin: 8px auto 32px auto;
    }
}

@media screen and (max-width: 896px) {
    .lead__subtitle {
        max-width: 90%;
        
    }
}
