.video__subtitle {
    font-style: normal;
    font-weight: normal;
    font-size: 0.875rem;
    line-height: 0.94rem;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

@media screen and (max-width: 768px) {
    .video__subtitle {
        margin-top: 12px;
    }
}


