@import url('__image/place__image.css');
@import url('__paragraph/place__paragraph.css');
@import url('__url-heading/place__url-heading.css');
@import url('__url/place__url.css');
@import url('__text/place__text.css');
@import url('__title/place__title.css');
@import url('__website/place__website.css');

.place {
    font-family: Inter, Arial, Helvetica, sans-serif;
    max-width: 984px;
    width: 100%;
    display: grid;
    grid-template-areas:
      "title website"
      "image text";
  column-gap: 2.5rem;
  row-gap: 3.75rem;
  color: white;
}

@media screen and (max-width: 620px) {
    .place {
        display: block;
        margin:  auto;
    
}